.App {
  text-align: center;
  background: #e5dfead0;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root{
  padding: 50px;
}

input,
button {
  padding: 10px 8px;
  border: none;
  border-radius: 6px;
  margin-right: 15px;
}

.clocks{
  display: flex;
  flex-wrap: wrap;
}

.clock {
  border: 1px solid #ccc;
  padding: 42px;
  margin: 10px;
  display: inline-block;
  position: relative;
}

.clock button {
  position: absolute;
  top: 0;
  right: -14px;
}

.time {
  font-size: 24px;
}